services:
  app:
    build: .
    container_name: eventify_api
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    volumes:
      - uploads_data:/app/uploads

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: eventify
      POSTGRES_USER: eventify
      POSTGRES_PASSWORD: eventify
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  uploads_data:
